In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('mercedesbenz.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X11', 'X12'])
df.head()

  X1  X2 X3 X4 X5 X6 X8  X10  X11  X12
0  v  at  a  d  u  j  o    0    0    0
1  t  av  e  d  y  l  o    0    0    0
2  w   n  c  d  x  j  x    0    0    0
3  t   n  f  d  x  l  e    0    0    0
4  v   n  f  d  h  d  n    0    0    0

In [25]:
# let's have a look at how many labels each variable has

for col in df.columns:
    print("{} : {}".format(col, len(df[col].unique())))

X1 : 27
X2 : 44
X3 : 7
X4 : 4
X5 : 29
X6 : 12
X8 : 25
X10 : 2
X11 : 1
X12 : 2

In [27]:
df.shape

(4209, 10)

In [31]:
pd.get_dummies(df, drop_first=True).shape

(4209, 144)

### Here Basic columns are 10 But because of Dummies the SOO many categorical variables are getting created So its not efficient.

### Instead of doing that way we will select 10 Categories which are having most numbers of occurances in the respectively Column (Variable). so only Maximum 10 columns can get selected.

In [36]:
# df.X1.value_counts().head(10)
df.X2.value_counts().head(10)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [45]:
top_10_labels = [lab for lab in df.X2.value_counts().head(10).index]
top_10_labels

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [61]:
def get_top_10_labels(df, variable):
#     top_10_labels = [label for label in df[variable].value_counts().head(10).index]
    top_10_labels = [lab for lab in variable.value_counts().head(10).index]
    return top_10_labels

In [72]:
def one_hot_encoding(df, variable, top_10_labels):
    
    for lab in top_10_labels:
        df[variable+'_'+lab] = np.where(df[variable]==lab, 1, 0)

In [114]:
top_10_labels = get_top_10_labels(df, df['X3'])
top_10_labels

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [115]:
one_hot_encoding(df, 'X3', top_10_labels)

In [116]:
df.head(10)

,X1,X2,X3,X4,X5,X6,X8,X10,X11,X12,...,X2_s,X2_f,X2_e,X3_c,X3_f,X3_a,X3_d,X3_g,X3_e,X3_b
0,v,at,a,d,u,j,o,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,t,av,e,d,y,l,o,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,w,n,c,d,x,j,x,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,t,n,f,d,x,l,e,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,n,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,b,e,c,d,g,h,s,0,0,0,...,0,0,1,1,0,0,0,0,0,0
6,r,e,f,d,f,h,s,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,l,as,f,d,f,j,a,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8,s,as,e,d,f,i,h,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9,b,aq,c,d,f,a,e,0,0,0,...,0,0,0,1,0,0,0,0,0,0